/* CSS provided by Copilot and adapted   */        
body {
    background-image: url('../images/london-eye-wide-2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

/* custom style for index.html container */
.custom-container {
    max-width: 500px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
}

#img-logo {
    width: 200px;
    height: auto;
    margin: -20px 20px 10px 20px;
}

/* Style for results image */
.small-image {
    width: 150px;
    height: auto;
    margin: 20px 0;
}

/* Style for categories buttons */
.category-buttons .btn {
    flex: 1 1 calc(45% - 20px); /* Adjusted flex-basis to reduce button width */
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #b6e3fd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* Added margin to increase space between buttons */
}

.category-buttons a {
    flex: 1;
    margin: 0 10px;
}

/* Style for Play and Rules buttons */
.container .button {
    display: block;
    width: 100%;
    margin: 10px -10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #b6e3fd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for Home button */
.container #home {
    width: 20%;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    background-color: white;
    border: black 1px solid;
}
/* Style to hide prevButton onLoad */
#prevButton {
    display: none;
}

/* Style to hide nextButton onLoad */
#nextButton {
    display: inline;
}

/* Style for feedback text */
#feedback {
    width: 300px;
    font-size: 1rem;
    margin-top: 0.8rem;
    text-align: left;
}

/* bottom margin manually changed botton property from Copilot code 
as not starting straight from bottom of the page */
.footer {
    background-color: #BBE8F9;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    opacity: 0.5;
}

.footer a {
    margin: 0 10px;
}

/* icons provided to Copilot when asked to help with coding */ 
.footer img {
    width: 32px;
    height: 32px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .category-buttons .btn {
        flex: 1 1 100%;
        margin: 10px 0; /* Adjusted margin for mobile */
    }
}